*{
    margin: 0;
    padding: 0;
}
body{
    background: #cdfff800;
    font-family:system-ui;
}
a{
    text-decoration: none;
    color: black;
}
header{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:30px;
}
header .logo{
font-size: 30px;
text-transform:uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:none;
    list-style: none;
}
header ul li{

    margin-right: 30px;
}

header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover, .active{
    background: #bbb;
    color: #fff;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
}
.main img{

    width: 100%;
    height: 100%;
    object-fit:unset ;
}

.speedometer-container{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
}
.center-point{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 137px;
    left: 137px;
    z-index: 10;

}
.speedometer-scale{
    width: 8px;
    height: 280px;
    background-color: black;
    position: absolute;
    left: 143px;
    top: 7px;
    transform: rotate(-90deg);

}
.speedometer-scale-1{
    transform: rotate(-90deg);
}
.speedometer-scale-2{
    transform: rotate(-80deg);
}
.speedometer-scale-3{
    transform: rotate(-70deg);
}
.speedometer-scale-4{
    transform: rotate(-60deg);
}
.speedometer-scale-5{
    transform: rotate(-50deg);
}
.speedometer-scale-6{
    transform: rotate(-40deg);
}
.speedometer-scale-7{
    transform: rotate(-30deg);
}
.speedometer-scale-8{
    transform: rotate(-20deg);
}
.speedometer-scale-9{
    transform: rotate(-10deg);
}
.speedometer-scale-10{
    transform: rotate(0deg);
}
.speedometer-scale-11{
    transform: rotate(10deg);
}
.speedometer-scale-12{
    transform: rotate(20deg);
}
.speedometer-scale-13{
    transform: rotate(30deg);
}
.speedometer-scale-14{
    transform: rotate(40deg);
}
.speedometer-scale-15{
    transform: rotate(50deg);
}
.speedometer-scale-16{
    transform: rotate(60deg);
}
.speedometer-scale-17{
    transform: rotate(70deg);
}
.speedometer-scale-18{
    transform: rotate(80deg);
}
.speedometer-scale-19{
    transform: rotate(90deg);
    height: 244px;
    top: 25px;
    left: 161px;

}

.speedometer-scale-1.active{
    background-color: green;
}
.speedometer-scale-2.active{
    background-color: rgb(26, 128, 0);
}
.speedometer-scale-3.active{
    background-color: rgb(58, 128, 0);
}
.speedometer-scale-4.active{
    background-color: rgb(70, 128, 0);
}
.speedometer-scale-5.active{
    background-color: rgb(70, 128, 0);
}
.speedometer-scale-6.active{
    background-color: rgb(100, 128, 0);
}
.speedometer-scale-7.active{
    background-color: rgb(200,251,80);
}
.speedometer-scale-8.active{
    background-color: rgb(228,251,80);
}
.speedometer-scale-9.active{
    background-color: rgb(251,251,80);
}
.speedometer-scale-10.active{
    background-color: rgb(251,234,80);
}
.speedometer-scale-11.active{
    background-color: rgb(251, 168, 79);
}
.speedometer-scale-12.active{
    background-color: rgb(251,139,79);
}
.speedometer-scale-13.active{
    background-color: rgb(251,139,79);
}
.speedometer-scale-14.active{
    background-color: rgb(251,122,79);
}
.speedometer-scale-15.active{
    background-color: rgb(251,99,79);
}
.speedometer-scale-16.active{
    background-color: rgb(251,90,79);
}
.speedometer-scale-17.active{
    background-color: rgb(251,90,80);
}
.speedometer-scale-18.active{
    background-color: rgb(251,90,80);
}
.speedometer-scale-19.active{
    background-color: rgb(251,90,80);
}

.speedometer-center-hide{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 9;
}
.speedometer-bottom-hide{
    width: 320px;
    height: 250px;
    background-color: white;
    position: absolute;
    z-index: 11;
    top: 160px;
    left: -14px;
    border-top: 1px solid;

}
.arrow-container{
    width: 160px;
    height: 160px;
    background-color: transparent;
    position: absolute;
    z-index: 12;
    top: 67px;
    left: 67px;
}
.arrow-wrapper{
    width: 160px;
    height: 160px;
    background-color: transparent;
    position: relative;
    transition: all 0.4ms;
}
.arrow{
    width: 110px;
    height: 4px;
    background-color: purple;
    position: absolute;
    top: 78px;
    left: -30px;
}
.speed-0{
    transform: rotate(0deg);
}
.speed-100{
    transform: rotate(10deg);
}
.speed-200{
    transform: rotate(20deg);
}
.speed-300{
    transform: rotate(30deg);
}
.speed-400{
    transform: rotate(40deg);
}
.speed-500{
    transform: rotate(50deg);
}
.speed-600{
    transform: rotate(60deg);
}
.speed-700{
    transform: rotate(70deg);
}
.speed-800{
    transform: rotate(80deg);
}
.speed-900{
    transform: rotate(90deg);
}
.speed-1000{
    transform: rotate(100deg);
}
.speed-1100{
    transform: rotate(110deg);
}
.speed-1200{
    transform: rotate(120deg);
}
.speed-1300{
    transform: rotate(130deg);
}
.speed-1400{
    transform: rotate(140deg);
}
.speed-1500{
    transform: rotate(150deg);
}
.speed-1600{
    transform: rotate(160deg);
}
.speed-1700{
    transform: rotate(170deg);
}
.speed-1800{
    transform: rotate(180deg);
}
.accelerate-container{
    margin-top: 120px;
    text-align: center;
    
}
.accelerate-container button{
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 5px #c6c6c6;
    color: white;
}
.accelerate-container button:active{
    box-shadow: 5px 5px 5px #ffffff;
}
.increase{
    background-color: green;
}
.decrease{
    background-color: red;
}
.speedometer-text{
    width: 180px;
    position: absolute;
    z-index: 20;
    left: 58px;
    top: 60px;
    text-align: center;
    font-weight: bold;
}
.static{
    font-size: 18px;
}
.dynamic{
    margin-top: 10px;
}
.km{
    font-size: 32px;
}
.unit{
    font-size: 14px;
    margin-left: 5px;
}